/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #eee;
    color: #333;
}

ul {
    list-style: none;
}

p {
    margin-bottom: 0.8rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

a {
    color: black;
    text-decoration: none;
}


/* HEADER */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem 2rem;
    background: rgb(0, 0, 0);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    line-height: 1.8rem;
}

.logo {
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo i {
    color: rgb(237, 105, 100);
    font-size: 2.5rem;
    margin-right: 0.5rem;
}

.logo a {
    font-size: 3rem;
}

header ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

header ul li {
    padding: 1rem;
}

header ul li a:hover {
    color: white;
}

header a {
    color: rgb(237, 105, 100);
}

.pop {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    align-items: center;
    background: url(https://images.unsplash.com/photo-1550143140-a808693b609f?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60) center center/cover;
    box-shadow: 5px 5px 5px rgb(237, 105, 100);
}

.popus {
    max-width: 800px;
    text-align: center;
    color: white;
}

.popus h1 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
    color: whitesmoke;
}

.popus p {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 2rem;
}


strong {
    color: rgb(237, 105, 100);
    font-weight: 400;
}

.conteneur {
    display: block;
    max-width: 1200px;
    margin: auto;
}

.title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.offer {
    padding: 10rem 1rem;
}

.offer-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.offer-elem {
    border: 1px solid #ddd;
    background: white;
    margin: 1rem;
    flex: 1;
}

.offer-elem:hover {
    cursor: pointer;
    border-color: rgb(237, 105, 100);
}

.offer-elem-img {
    width: 100%;
}

.offer-elem-text {
    padding: 2rem;
    text-align: center;
}

.offer-separator {
    margin: 1rem auto;
    height: 2px;
    width: 50px;
    background: #333;
}

.bg-dark {
    background: #333;
    color: white;
}

.who {
    display: flex;
    flex-flow: row nowrap;
}

.who-content-img {
    flex: 1;
}

.who-content-img img {
    width: 100%;
}
  
.who-content-text {
    flex: 1;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.who-content-text h2 {
    margin-bottom: 2rem;
}
  
.who-content-text p {
    font-size: 1.3rem;
    line-height: 1.8rem;
}

em {
    color: #555;
  }
  
  .testimonials {
    padding: 5rem 1rem;
  }
  
  .testimonials-content {
    display: flex;
    flex-direction: column;
  }
  
  .testimonials-elem {
    flex: 1;
    background: white;
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .testimonials-elem-text {
    padding: 0 2rem;
  }
  .testimonials-elem-text p i {
    margin: 0.2rem;
  }
  
  .testimonials-elem-profil p {
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  .testimonials-elem-profil img {
    width: 50px;
    border-radius: 50px;
    margin-bottom: 0.5rem;
  }

.contact {
    padding: 10rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .contact-form input {
    background: #333;
    border: 0;
    border-bottom: 1px solid #555;
    padding: 1rem;
    font-size: 1.3rem;
    color: white;
    outline: 0;
    margin-bottom: 1rem;
  }
  
  .contact-form button {
    display: block;
    margin: 3rem auto;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 30px;
    background: black;
    color: rgb(237, 105, 100);
    font-weight: 700;
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background: white;
  }

  footer {
    background: black;
    padding: 5rem 1rem;
    color: rgb(237, 105, 100);
    text-align: center;
  }
  
  footer p {
    margin-bottom: 0;
  }


.who {
    display: flex;
    flex-flow: row nowrap;
    min-height: 600px;
  }
  
  
  .who-content-text {
    flex: 1;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  